@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

html{
    height: 100%;
}
body{
    font-family: 'Merriweather', sans-serif;
    min-height: 100%;
    color: #222;
}
body, h1, h2, div{ /*basic resets*/
    margin: 0px;
    padding: 0px;
}
span, p, li{
    font-size: 1.2em;
    line-height: 1.5em;    
}
::selection{ /* just for fun*/
    color: white !important;
    background-color: green !important;
    text-shadow: none;
}
::-moz-selection{ /* can't forget firefox*/
    color: white !important;
    background-color: green !important;
    text-shadow: none;
}

.name{ 
    background-color: #004358; 
    height: 50%;
    line-height: 50vh;
    color: #fff;
    font-size: 4em;
    font-weight: 300;
	max-width: 900px;
	margin: 0 auto;
}
.writings{ background-color: #1F8A70; }
.slides{ background-color: #BEDB39; }
.projects{ background-color: #FFE11A; }
.about{	background-color: #FD7400; }

h1, a.nav{
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
h1.title{
    padding: 20px;
	text-shadow: 1px 1px 0px #000;
    color: #fff;
}
h1.title a{
    color: #fff;
}
span{
	color: #1F8A70;
}
article{
	max-width: 900px;
	margin: .5em auto;
	padding: 0px 10px;
}
a{
	color: #004358;
    text-decoration: none;
    transition: color 500ms ease, height 300ms, width 300ms;
}
a, a:visited{
    color: #004358;
}
a:active{
    color: #ccc;
}
a:hover{
    /*text-decoration: underline;*/
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    /*color: darkblue;*/
}
a.nav{
    display: block;
    font-size: 2em;
	height: 12.5%;
    line-height: 12.5vh;
	max-width: 900px;
	margin: 0 auto;
    color: #000;
}
a.nav:hover{
    text-decoration: none;
}

h1 a::before {
    content: "<";
	transform: translateX(20px);
}
h1 a::after{
	content: "";
}
a::after{
	content: " >";
	transform: translateX(-20px);
}
a::before,a::after{
	opacity: 0;
	transition: opacity 500ms, transform 300ms;
}
a:hover::before, a:hover::after{
	opacity: 1;
	transform: translateX(0px);
}
time{
	display: block;
	color: #aaa;
	font-size: .8em;
	font-variant: small-caps;
}
img{
    max-width: 100%;
}
code{
    font-size: 1.4em;
}
pre{
    background-color: #f5f2f0;
    overflow-x: auto;/*TODO: test this on mobile...*/
}
.icon{
    float: left;
}